.base_main {
  justify-content: space-evenly;
}

.text-responsive-table {
  font-size: calc(25% + 1vw + 1vh);
}

.text-responsive-list {
  font-size: calc(70% + 1vw);
  min-width: 290px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.list-group {
  background-color: unset;
  border-width: 1px;
}

.table_lists_item {
  text-align: center;
  padding-top: 3%;
}

.table_lists_item_name {
  padding-top: 3%;
}

.list_image {
  width: calc(80% + 1vw);
  border-radius: 10%;
  margin: auto;
}

.list-group-item {
  border-radius: 0px;
  border: 0;
}

.list_item_first {
  width: calc(30% + 1vw);
}

.list_item_second {
  width: calc(45% + 1vw);
}

.list_item_third {
  width: calc(17% + 1vw);
  padding-left: 1px;
}

/* .form__btn__CRUD {
  transform: translateX(0.5rem);
  background-color: var(--color-dark--2);
  border-radius: 9px;
  border: 0;
  width: min-content;
  padding: 0.5rem;
  color: #555;
} */

.btn_item_CRUD {
  font-size: small;
  padding: 0;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  margin-top: 20px;
  opacity: 0.8;
  position: relative;
  top: 10px;
  left: 180%;
}

.btn_list_item {
  margin-top: 0.5%;
  padding: 0.5%;
  border: 0;
}
