.main_container {
  min-width: 300px;
  justify-content: space-evenly;
}

.text-responsive-list {
  font-size: calc(55% + 1vw);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.list-group {
  background-color: unset;
  border-width: 1px;
}

.table_lists_item {
  text-align: center;
  padding-top: 3%;
}

.table_lists_item_name {
  padding-top: 3%;
}

.list_image {
  width: calc(80% + 1vw);
  border-radius: 10%;
  margin: auto;
}

.list-group-item {
  border-radius: 0px;
  border: 0;
}

.list_item_first {
  width: calc(30% + 1vw);
}

.list_item_second {
  width: calc(45% + 1vw);
}

.list_item_third {
  width: calc(17% + 1vw);
  padding-left: 1px;
}

.btn_item_CRUD {
  font-size: small;
  padding: 0;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  margin-top: 20px;
  position: relative;
  top: 10px;
  left: 180%;
}

.btn_list_item {
  margin-top: 0.5%;
  padding: 0.5%;
  border: 0;
}

.btn_list_item_bottom {
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
