<!-- prettier-ignore -->
{% include "inventory/base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %}

<style>
  body {
    background-color: grey;
  }
</style>

<body>
  <br />
  <div class="container bg-white shadow-md p-5 form-layout">
    <h3>Enter your new password:</h3>
    <hr />
    <h5>
      Please enter your new password twice so that we can verify that you typed
      it in correctly!
    </h5>

    <br />
    <br />

    <form method="POST" autocomplete="off">
      {% csrf_token %} {{form|crispy}}

      <br />
      <br />
      <button
        type="submit"
        class="btn btn-primary navbar-btn text-white w-100 p-2"
      >
        &nbsp; Update password
      </button>
    </form>
    <br />
    <div class="text-center">
      <a href="{% url 'my-login' %}"> Already have an account? </a>
    </div>
  </div>
</body>
<br />
<br />

{% endblock %}
