{% extends "./base.html" %} {% load static %} {% block content %}

<!-- Introduction section -->

<main>
  <div class="container pt-5 justify-content-center text-responsive-table">
    <div class="row fw-bold">
      <div class="col-5">NAME</div>
      <div class="col-3 text-center">BALANCE</div>
      <div class="col-2 text-center">ITEMS</div>
      <div class="col-2 text-center">GUESTS</div>
    </div>
    <div class="row">
      {% for item in my_Lists %}
      <div class="col-5 table_lists_item_name">
        <a href="{{item.get_absolute_url}}">{{item.name|capfirst}}</a>
      </div>
      <div class="col-3 table_lists_item">
        ¥{{item.get_balance|floatformat:"-3g"}}
      </div>
      <div class="col-2 table_lists_item">{{item.get_items_len}}</div>
      <div class="col-2 table_lists_item">{{item.get_guests_len}}</div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
