<!-- prettier-ignore -->
{% extends "./base.html" %} 
{% load django_bootstrap5 %}
{% load static %} 
{% block content %}

<!-- Introduction section -->

<main>
  <div class="container pt-5 justify-content-center text-responsive-table">
    <div class="row fw-bold">
      <div class="col-5">{{item.title}}</div>
      <br />
    </div>
    <div class="row">
      <div class="col-11">
        <form
          id="itemForm"
          action="{% url 'update_item' item.id %}"
          method="post"
          enctype="multipart/form-data"
        >
          <!-- prettier-ignore -->
          {% csrf_token %} 
          {% bootstrap_form form %} 
          {{form.media}}
          <input
            type="submit"
            value="Update"
            class="btn btn-primary btn-large"
          />
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
