{% extends "./base.html" %} {% load static %} {% block content %}
<style>
  body {
    background-color: grey;
  }
</style>
<!-- Introduction section -->
<!-- prettier-ignore -->
<body>
  <br />
  <div class="container bg-white shadow-md p-4">
    <div class="d-flex justify-content-around fw-bold pb-2">
      <div class="col-8"><h2>{{itemsList.name}}</h2></div>
      <div class="col-4 d-flex justify-content-end">
        <a href="{% url 'create_item' itemsList.pk %}"
          class="btn btn-outline-secondary mb-2" style="height: 40px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus"
            viewBox="0 0 16 16">
            <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z" />
          </svg>
          Add
        </a>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-6 mb-2">
        <p>Balance:<span class="badge text-bg-light">¥{{balance|floatformat:"-3g"}}</span></p>
      </div>
      <div class="col-5">
        <p>Items: <span class="badge text-bg-light">{{itemsLen}}</span></p>
        <!-- <p>purchased: <span class="badge text-bg-light">{{boughtItemsLen}}</span></p> -->
      </div>
    </div>
   
    <div class="row list_group_title_row">
      <div class="col list_item_first"><h6 class="item__title">Name</h6></div>
      <div class="col list_item_second"><h6 class="item__title">Description</h6></div>
      <div class="col list_item_third"><h6 class="item__title">Price</h6></div>
    </div>
   
      {% for item in items %}
      <!-- version with collapse -->

      <a style="text-decoration: none;" data-bs-toggle="collapse" href="#collapseItem{{item.id}}" role="button" aria-expanded="false" aria-controls="collapseItem{{item.id}}">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list_item_first">
            <p>{{item.title}}</p>
          </li>
          <li class="list-group-item list_item_second">
            <p>{{item.description|truncatechars:40}}</p>
          </li>
          <li class="list-group-item list_item_third">
            <p>¥{{item.price|floatformat:"-3g"}}</p>
          </li>
        </ul>
      </a>
      <div class="collapse" id="collapseItem{{item.id}}">
        <div class="card card-body">
          <div class="row">
            <div class="col-6">
              <div class="list_image">
                <a href="{{item.image.url}}" class="thumbnail" target="_blank">
                  <img src="{{item.image.url}}" class="img-responsive">
                </a>
                <!-- {% load cloudinary %}
                {% cloudinary item.image quality='auto' width=100 height=100 crop='pad' %} -->
              </div>
              
              <p>{{item.description}}</p>
            </div>            
            <div class="col-6">
              <p>Price: &nbsp;¥{{item.price|floatformat:"-3g"}}</p>
              <p>Store: &nbsp;{{item.store}}</p>
              <p>Brand: &nbsp;{{item.brand}}</p>
              {% if item.webPage != '' %}
              <a
                href="{{item.webPage}}"
                class="btn btn-outline-secondary btn_list_item"
                >Link</a
              >
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-2 btn-group">
              <a href="{% url 'mark_bought_item' itempk=item.id list_slug=itemsList.slug %}" onclick="return confirm('Do you want to Mark {{item.title}} as bought?')" class="btn btn-outline-primary btn_item_CRUD">Bought</a>
              <a href="{% url 'update_item' pk=item.id %}" class="btn btn-outline-primary btn_item_CRUD">Update</a>
              <a href="{% url 'delete_item' itempk=item.id list_slug=itemsList.slug %}" onclick="return confirm('Do you want to delete {{item.title}}?')" class="btn btn-outline-primary btn_item_CRUD">Delete</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}


      <!-- bought items list -->
      {% if boughtItemsLen > 0 %}
      <hr>
      <a style="text-decoration: none;" data-bs-toggle="collapse" href="#collapseBoughtItems" role="button" aria-expanded="false" aria-controls="collapseBoughtItems">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item flex-fill">
            <p>Spent: &nbsp;¥{{spent|floatformat:"-3g"}}</p>
          </li>
          <li class="list-group-item flex-fill">
            <p>purchased: &nbsp;{{boughtItemsLen}}</p>
          </li>
        </ul>
      </a>
      <div class="collapse" id="collapseBoughtItems">
      
      {% for item in boughtItems %}
      <!-- version with collapse -->

      <a style="text-decoration: none;" data-bs-toggle="collapse" href="#collapseItem{{item.id}}" role="button" aria-expanded="false" aria-controls="collapseItem{{item.id}}">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list_item_first">
            <p>{{item.title}}</p>
          </li>
          <li class="list-group-item list_item_second">
            <p>{{item.description|truncatechars:40}}</p>
          </li>
          <li class="list-group-item list_item_third">
            <p>¥{{item.price|floatformat:"-3g"}}</p>
          </li>
        </ul>
      </a>
      <div class="collapse" id="collapseItem{{item.id}}">
        <div class="card card-body">
          <div class="row">
            <div class="col-6">
              <div class="list_image">
                <a href="{{item.image.url}}" class="thumbnail" target="_blank">
                  <img src="{{item.image.url}}" class="img-responsive">
                </a>
                <!-- {% load cloudinary %}
                {% cloudinary item.image quality='auto' width=100 height=100 crop='pad' %} -->
              </div>
              <p>{{item.description}}</p>
            </div>            
            <div class="col-6">
              <p>Price: &nbsp;¥{{item.price|floatformat:"-3g"}}</p>
              <p>Store: &nbsp;{{item.store}}</p>
              <p>Brand: &nbsp;{{item.brand}}</p>
              {% if item.webPage != '' %}
              <a
                href="{{item.webPage}}"
                class="btn btn-outline-secondary btn_list_item"
                >Link</a
              >
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-2 btn-group">
              <a href="{% url 'return_item' itempk=item.id list_slug=itemsList.slug %}" onclick="return confirm('Do you want return {{item.title}} to your shooping list?')" class="btn btn-outline-primary btn_item_CRUD">Return</a>
              <a href="{% url 'update_item' pk=item.id %}" class="btn btn-outline-primary btn_item_CRUD">Update</a>
              <a href="{% url 'delete_item' itempk=item.id list_slug=itemsList.slug %}" onclick="return confirm('Do you want to delete {{item.title}}')" class="btn btn-outline-primary btn_item_CRUD">Delete</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      <div class="row  pt-4">
        <div class="col-4">
          <a href="{% url 'inventory' %}" class="btn btn-outline-secondary btn_list_item_bottom">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
            </svg>&nbsp;Back</a>        
        </div>
        <div class="col-8 col-auto me-auto">
          <button type="button" class="btn btn-outline-secondary position-relative me-2 btn_list_item_bottom">
            Guests
            {% if itemsList.get_guests|length > 0 %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
              {{itemsList.get_guests|length}}
              <span class="visually-hidden">guests in the list</span>
            </span>
            {% endif %}
          </button>
          <a href="{% url 'delete_list' list_slug=itemsList.slug %}" onclick="return confirm('you are about to delete the {{itemsList.name}} list, do you want to continue?')" class="btn btn-outline-warning btn_list_item_bottom">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>&nbsp;Delete</a>
        </div>
      </div>    
    </div>    
  </div>  
</body>
{% endblock %}
