{% extends "./base.html" %} {% load static %} {% block content %}

<!-- Introduction section -->

<main>
  <div class="container pt-5 justify-content-center text-responsive-table">
    <div class="d-flex justify-content-around fw-bold pb-2">
      <div class="col-5"><h2>{{itemsList.name}}</h2></div>
      <div class="col-5 d-flex justify-content-end">
        <a href="{% url 'create_item' itemsList.pk %}" class="btn btn-outline-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
            <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
          </svg>  Add
        </a>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col-10">
        <div id="carouselT" class="carousel carousel-dark slide">
          <div class="carousel-inner">
            {% for item in items %} 
                {% if forloop.first %} 
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}

                    <div class="card mb-3 text-center">
                        <img src="{{item.image.url}}" class="card-img-top" alt="{{item.title}}">
                        <div class="card-body">
                        <h2 class="card-title">{{item.title}}</h2>
                        <p class="card-text">{{item.description}}</p>
                        <p class="card-text"><small class="text-body-secondary">Price:  ¥{{item.price|floatformat:"-3g"}}</small></p>
                        
                        </div>
                    </div>    
                </div>
            {% endfor %}
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselT"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselT"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
