<!-- prettier-ignore -->
{% include "inventory/base.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %}

<style>
  body {
    background-color: grey;
  }
</style>

<body>
  <br />
  <div class="container bg-white shadow-md p-5 form-layout">
    <h3>
      <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp; Manage shipping
    </h3>
    <hr />
    <p>Please fill in your shipping address.</p>
    <br />

    <form method="POST" autocomplete="off">
      {% csrf_token %} {{form.full_name|as_crispy_field}}
      <br />
      {{form.email|as_crispy_field}}
      <br />
      {{form.address1|as_crispy_field}}
      <br />
      {{form.address2|as_crispy_field}}
      <br />
      {{form.city|as_crispy_field}}
      <br />
      {{form.state|as_crispy_field}}
      <br />
      {{form.zipcode|as_crispy_field}}
      <br />

      <button
        type="submit"
        class="btn btn-primary navbar-btn text-white w-100 p-2"
      >
        <i class="fa fa-key" aria-hidden="true"></i>&nbsp; Update shipping
        address
      </button>
      <br />
      <br />
      {{form.non_field_errors}}
    </form>
    <br />
  </div>
</body>
<br />
<br />

{% endblock %}
